@import "../common/variables";
@import "../common/mixin";

.confess-form-mini {
    position: relative;
    width: 80%;
    max-width: 400px;
    height: auto;
    margin: auto;
    margin-top: 64px;
    background-color: #fff;
    box-shadow: var(--shadow-0);
    border-radius: 13px;
    padding: 32px 40px;
    text-align: left;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include mobile {
        padding: 16px 64px 0px 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
        margin-top: 48px;
    }

    @include tablet {
        padding: 16px 64px 0px 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: auto;
    }

    & div {
        & a#error-confess {
            font-size: 14px;
            text-align: left;
            color: $-red;
        }
    }

    & textarea {
        width: 100%;
        min-height: 53px;
        border: none;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        user-select: text;
        -moz-user-select: text;
        -webkit-user-select: text;
        //resize: none;
        line-height: 1.3053;
        letter-spacing: -.003em;
        box-sizing: border-box;
        resize: none;

        @include mobile {
            min-height: 120px;
        }

        @include tablet {
            min-height: 120px;
        }

        &::placeholder {
            transition: all .4s ease;
            color: $-gray-1;
        }
    }

    & h4 {
        margin: 0;
        margin-top: 11px;
        font-size: 24px;
        font-weight: 500;
        color: #233745;
    }

    & a {
        color: $-dark;
        font-size: 20px;
        font-weight: 500;

        @include mobile {
            font-size: 16px;
        }

        @include tablet {
            font-size: 16px;
        }
    }

    & .confess_image_container {
        display: flex;
        width: 100%;
        position: relative;
        margin: 16px 0 48px 0;
        align-items: center;
        justify-content: center;
        display: none;

        @include mobile {
            margin: 0;
            margin-top: 16px;
        }

        @include tablet {
            margin: 0;
            margin-top: 16px;
        }

        & .image {
            width: 75%;
            height: auto;
            background-color: #888;
            border-radius: 16px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all .4s ease;
            z-index: 1;

            @include mobile {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            &:after {
                content: "";
                display: block;
                padding-bottom: 120%;
            }
        }

        & .image_shadow {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            position: absolute;
            width: 70%;
            height: 100%;
            overflow: hidden;
            display: flex;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: -15px;
            z-index: 0;
            border-radius: 20px;
            filter: blur(15px);

            @include mobile {
                width: 80%;
            }

            @include tablet {
                width: 80%;
            }

            & .shadow_image {
                margin-top: 3rem;
                object-fit: cover;
                width: 100%;
                height: 100%
            }
        }
    }

    & .confess_background_choosen_container {
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 32px;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-direction: column;
        }
        
        & .confess_background_select_container {
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                margin: 0;
            }

            @include tablet {
                margin: 0;
            }

            & .confess_background_item,
            .confess_upload_image_btn {
                width: 36px;
                height: 36px;
                background: #000;
                border-radius: 7px;
                margin: 0 8px;
                cursor: pointer;
                transition: all .3s;
                box-shadow: 0 2px 15px rgba(0, 0, 0, .25);

                &.confess_background_item:nth-of-type(1) {
                    background: #fff;
                }

                &.confess_background_item:nth-of-type(2) {
                    background: url(../resources/postBackground/0.jpg); 
                    background-size: cover; 
                    background-position: center center; 
                    background-repeat: no-repeat;
                }

                &.confess_background_item:nth-of-type(3) {
                    background: url(../resources/postBackground/1.jpg); 
                    background-size: cover; 
                    background-position: center center; 
                    background-repeat: no-repeat;
                }

                &.confess_background_item:nth-of-type(4) {
                    background: url(../resources/postBackground/2.jpg); 
                    background-size: cover; 
                    background-position: center center; 
                    background-repeat: no-repeat;
                }

                &.confess_background_item:nth-of-type(5) {
                    background: url(../resources/postBackground/3.jpg); 
                    background-size: cover; 
                    background-position: center center; 
                    background-repeat: no-repeat;
                }

                &.confess_upload_image_btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    width: auto;
                    padding: 0 16px;

                    & .inputfile {
                        width: 0.1px;
                        height: 0.1px;
                        opacity: 0;
                        overflow: hidden;
                        position: absolute;
                        z-index: -1;
                    }

                    .inputfile+label {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        & span {
                            font-size: 20px;
                            //color: #233745;
                            color: $-dark-3;
                        }

                        & a {
                            font-size: 13px;
                            margin-left: 8px;
                            color: $-dark-3;
                            margin-top: 2.685px;
                        }
                    }
                }

                @include mobile {
                    width: 100%;
                    height: auto;
                    margin: 0 5px;

                    &.confess_upload_image_btn {
                        display: none;
                    }
                }

                @include tablet {
                    width: 100%;
                    height: auto;
                    margin: 0 5px;

                    &.confess_upload_image_btn {
                        display: none;
                    }
                }

                &:hover {
                    transform: scale(1.075);
                    box-shadow: 0 2px 20px rgba(0, 0, 0, .25);
                }

                &:active {
                    transform: scale(1);
                }

                &.active {
                    border: 2px solid #fff;
                    box-shadow: 0 2px 15px rgba(0, 0, 0, .25);
                }

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
            }
        }
    }

    & .confess_submit_container {
        display: flex;
        width: 100%;
        position: relative;
        margin-top: 32px;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-direction: column;
        }

        & .confess_upload_image_btn {
            width: 100%;
            height: 36px;
            background: #000;
            border-radius: 7px;
            cursor: pointer;
            transition: all .3s;
            box-shadow: 0 2px 15px rgba(0, 0, 0, .25);
            display: flex;
            width: auto;
            padding: 0 16px;
            
            &:hover {
                transform: scale(1.075);
                box-shadow: 0 2px 20px rgba(0, 0, 0, .25);
            }
    
            & .inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
    
            .inputfile+label {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
    
                & span {
                    font-size: 20px;
                    //color: #233745;
                    color: $-dark-3;
                }
    
                & a {
                    font-size: 13px;
                    margin-left: 16px;
                    color: #414141;
                    margin-top: 1px;
                }
            }
        }

        & .btn {
            position: absolute;
            right: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            & .btn-icon {
                font-size: 20px;
                margin: 0;
                margin-left: 3px;
            }

            @include mobile {
                position: relative;
                width: 50%;
                margin: auto;
                margin-top: 32px;
                margin-bottom: 24px;
            }

            @include tablet {
                position: relative;
                width: 50%;
                margin: auto;
                margin-top: 32px;
                margin-bottom: 24px;
            }
        }
    }

    & .confess-hastag {
        width: 100%;
        height: auto;
        display: flex;

        & .confess-hastag-icon {
            width: 48px;
            float: left;
            text-align: center;

            & a {
                font-size: 48px;
                font-weight: 600;
                color: #E9B8AC;
            }
        }

        & .confess-hastag-input {
            width: 494px;
            margin-left: 24px;
            border: none;
            float: left;
            font-size: 24px;
            color: #E9B8AC;
            font-weight: 500;
            outline: none;
            border: none;
            transition: all .4s;

            @include mobile {
                width: 150px;
                font-size: 15px;
                margin-left: 9px;
            }

            @include tablet {
                width: 150px;
                font-size: 15px;
                margin-left: 9px;
                color: $-gray-1;
            }

            &::placeholder {
                transition: all .4s;
            }

            &:focus::placeholder {
                color: transparent;
            }
        }
    }
}

//DARK MODE
body.dark {
    .confess-form-mini{
        background-color: #242526!important;
    
        & textarea {
            color: #fff!important;
        }
    
        & .confess_image_container {
            & .image_shadow {
                & .shadow_image {
                    opacity: .3!important;
                }
            }
        }
    
        & .confess_submit_container {
    
            & .confess_upload_image_btn {
                background-color: #414141!important;
    
                & label {
                    & a {
                        color: #fff!important;
                    }
    
                    & .icon {
                        color: #fff!important;
                    }
                }
            }
    
            & button {
                box-shadow: 0 4px 16.5px #9a1e34bf!important;
            }
        }
    }
}