//VARIABLES
//#region
//TRANSITION
$fastTransition: all .25s ease;

//COLORS
$dark: #333;
$gray: #eaeaea;
$gray-4: #bdbdbd;
$pink: rgb(247, 53, 88);
$blue: rgb(53, 137, 247);

$primaryComponentsColor:  $pink;
$secondaryComponentsColor: $blue;

//ANOTHER
$disabledOpacity: .75;
//#endregion