.ads_container {
    width: 80%;
    max-width: 400px;
    height: auto;
    padding: 32px 40px;
    background-color: #fff;
    border-radius: 13px;
    margin-top: 48px;
    position: relative;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,.15);
}